.categories-wrapper {
    .categories {

    }
    .category {
        height: 300px;
        background-color: color("grey","lighten-4");
        background-repeat: no-repeat;
        background-position: right bottom;
        li {
            margin-bottom: 5px;
            &:first-child{
                a {
                    @extend .black-text;
                }
            }
            a {
                @extend .grey-text;
                @extend .text-darken-1;
            }
        }
    }
}
