.select-item {

    position: relative;
      select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }

    &:after {
      content: '\e809';
      font-family: falcon;
      right: 11px;
      top: 35px;
      height: 34px;
      position: absolute;
      pointer-events: none;
    }
}

.left-user-menu li{

     &.active a{
       color: #4A4A4A;
       font-weight: bold;
     }
  }


