.thumb {
    li {
        border: 20px solid white;
        img {
            width: 100%;
        }
        &.selected {
            border-color: #fbb03b;
        }
    }
}
// border-style: solid;
// border-width: 40px 42px 27px 52px;
// -moz-border-image: url(../img/art/frames/1.jpg) 40 42 27 52 repeat stretch;
// -webkit-border-image: url(../img/art/frames/1.jpg) 40 42 27 52 repeat stretch;
// -o-border-image: url(../img/art/frames/1.jpg) 40 42 27 52 repeat stretch;
// border-image: url(../img/art/frames/1.jpg) 40 42 27 52 fill repeat stretch;
.gallery {
    height: 100vh;
    position: relative;
    &:after {
        content: '';
        // background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 57%,rgba(0,0,0,0.24) 99%,rgba(0,0,0,0.24) 100%);
        // background: radial-gradient(ellipse at center top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 70%,rgba(0,0,0,0.65) 100%);
        // background: radial-gradient(ellipse at center, #f9f9f9 0%, #e1e4e8 62%, #d1d6db 100%);

        // background: radial-gradient(ellipse at center top, #f9f9f9 0%, #e1e4e8 62%, #d1d6db 100%);
        background: radial-gradient(ellipse at center top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.3) 100%);
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
    }
    .content-img {
        position: absolute;
        bottom: 0;
        width: 100%;
        img {
            width: 100%;
        }
    }
    .product-img {
        position: absolute;
        left: 50%;
        width: auto;
        transform: translateX(-50%);
        top: 7%;
        img {
            background-color: white;
            padding: 10px;
            border: 10px solid black;
            // border-style: solid;
            // border-width: 40px 42px 27px 52px;

            // border-image: url('../img/art/frames/1.jpg') 157 271 58 75 repeat round;
        }
    }
}
