/*--------------------fotter_section-------------------------------*/

.footer-menu {
  li {
     float: left;
  }
}

/*-----------------------copyright---------------------------------*/

#copyright {
  padding-top: 20px;
  border-top: 1px solid #dddfe2;
}

.password-match {
  display: none;
}

.popover-content {
  width: 250px;
}
