/* ---------------------- cart popup -----------------------------------*/

.cart-section-item {
  .cart-box {
    position: absolute;
    display: none;
    background-color: #dddfe2;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    right: 0;
    width: 570px;
    box-shadow: 0 2px 3px rgba(39, 41, 48, 0.05);
    -moz-box-shadow: 0 2px 3px rgba(39, 41, 48, 0.05);
    -webkit-box-shadow: 0 2px 3px rgba(39, 41, 48, 0.05);
    z-index: 99;
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    transform: translateY(10%);
    margin-top: 4px;
  }
  &:after{

  }
  &:hover .cart-box {
    opacity: 1;
    visibility: visible;
    display: block;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
}

/*cart dropdown*/

.cart-box {
  .cart-overview {
    background: #f9f9f9;
    .list-unstyled{
      overflow-y: scroll;
      min-height: 100px;
      max-height: 450px;
      height: 100%;
      position: relative;
    }
    li {
      overflow: hidden;
      border-bottom: 1px solid #eaeaea;
      padding-bottom: 10px;
      padding-top: 10px;
      position: relative;
      &:last-child {
        margin-bottom: 0;
      }
    }
    h5 {
      font-size: 17px;
      font-weight: 700;
      text-transform: uppercase;
      color: #373636;
      margin-bottom: 0;
      line-height: 23px;
    }
    p {
      font-size: 12px;
      line-height: 22px;
      color: #000;
      margin-bottom: 0;
    }
  }
  .product-title a {
    color: #000;
  }
}

.product-meta .cart-list-item li a {
  color: #000;
}

.cart-box {
  .product-meta .cart-list-item li {
    border-bottom: transparent;
    border-top: transparent;
  }
  i.fa.fa-trash-o.fa-2x {
    transform: translateY(calc(158% - 20px ));
    cursor: pointer;
  }
}

